@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #ff9900;
  --color-secondary: #f4f4f6;
  --color-accent: #e1f4f3;
}
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #515195;
  /* --color-primary: #454948; */
  --color-secondary: #23232d;
  --color-accent: #2c2c2c;
}
